* {
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f5f5;
}

/* :root {
  --primary: #3a49a8;
  --danger: #f06548;
  --warning: #f7b84b;
  --success: #0ab39c;
} */

.arco-layout {
  &-sider-light {
    box-shadow: none;
  }
}
